# Maven
target/
*.log

# IDE
.idea/
.vscode/

# macOS
.DS_Store

# Java
*.class
*.jar
*.war
*.ear

# IntelliJ IDEA specific
*.iml

# Eclipse
.project
.classpath
.settings/

# .env file
.env

# Windows
Thumbs.db
ehthumbs.db

data/
logs/
