name: SonarQube Analysis
on:
  pull_request:
    branches:
      - '*'
jobs:
  sonarcube:
    name: SonarQube
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: 'maven'

      - name: Build and analyze with Maven
        run: |
          mvn clean compile -DskipTests
          mvn sonar:sonar \
            -Dsonar.projectKey=andreevich404_Chat \
            -Dsonar.organization=ivan-andreevich \
            -Dsonar.host.url=https://sonarcloud.io \
            -Dsonar.cpd.enabled=false
        shell: bash
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}