name: SonarQube Analysis
on:
  pull_request:
    branches:
      - '*'
jobs:
  sonarcube:
    name: SonarQube
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Cache Maven dependencies
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Build with Maven (skip tests)
        run: mvn clean install -DskipTests
        shell: bash

      - name: Run SonarQube analysis
        run: |
          mvn clean verify compile sonar:sonar \
            -Dsonar.projectKey=andreevich404_Chat \
            -Dsonar.organization=ivan-andreevich \
            -Dsonar.host.url=https://sonarcloud.io \
            -Dsonar.java.binaries=${{ inputs.binaries-path }} \
            -Dsonar.token=${{ secrets.SONAR_TOKEN }}
        shell: bash